---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="About Me | Default Box">
  <head>
    <SEO
      title="About Me | Default Box"
      description="A mini portfolio for Default Box! (Me)"
      charset="UTF-8"
    />
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
  </head>
  <div class="haveimage">
    <main>
      <h1>
        Hey, I'm <svg
          xmlns="http://www.w3.org/2000/svg"
          style="vertical-align: -0.125em;"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 32 32"
          ><g fill="none"
            ><g filter="url(#f1549id8)"
              ><path
                fill="url(#f1549id0)"
                d="M3.781 9.71a.5.5 0 0 1 .233-.422L15.577 1.98a.5.5 0 0 1 .534 0l11.562 7.31a.5.5 0 0 1 .233.422V22.47a.5.5 0 0 1-.237.425l-11.563 7.13a.5.5 0 0 1-.525 0L4.02 22.894a.5.5 0 0 1-.238-.425V9.71Z"
              ></path><path
                fill="url(#f1549id1)"
                d="M3.781 9.71a.5.5 0 0 1 .233-.422L15.577 1.98a.5.5 0 0 1 .534 0l11.562 7.31a.5.5 0 0 1 .233.422V22.47a.5.5 0 0 1-.237.425l-11.563 7.13a.5.5 0 0 1-.525 0L4.02 22.894a.5.5 0 0 1-.238-.425V9.71Z"
              ></path></g
            ><g filter="url(#f1549id9)"
              ><path
                fill="url(#f1549id2)"
                d="M15.75 30.09a.5.5 0 0 1-.169-.066L4.02 22.894a.5.5 0 0 1-.238-.425V9.716l11.733 7.292a.5.5 0 0 1 .236.424V30.09Z"
              ></path></g
            ><path
              fill="url(#f1549id3)"
              d="M27.878 9.545a.5.5 0 0 1 .028.166v12.758a.5.5 0 0 1-.237.425l-11.563 7.13a.5.5 0 0 1-.356.065V17.348a.5.5 0 0 1 .236-.425l11.8-7.333a.51.51 0 0 1 .092-.045Z"
            ></path><path
              fill="url(#f1549id4)"
              d="M27.878 9.545a.5.5 0 0 1 .028.166v12.758a.5.5 0 0 1-.237.425l-11.563 7.13a.5.5 0 0 1-.356.065V17.348a.5.5 0 0 1 .236-.425l11.8-7.333a.51.51 0 0 1 .092-.045Z"
            ></path><g filter="url(#f1549ida)"
              ><path
                fill="url(#f1549id5)"
                d="M10.781 22.834a.3.3 0 0 1 .459-.254l3.126 1.943a.5.5 0 0 1 .236.425v2.26a.3.3 0 0 1-.459.255l-3.126-1.943a.5.5 0 0 1-.236-.425v-2.26Z"
              ></path></g
            ><g filter="url(#f1549idb)"
              ><path
                fill="#966957"
                d="M8.25 12.863v2.744l2.922 1.75v-2.553c0-.342.172-.658.46-.842c3.99-2.552 11.178-7.21 11.352-7.378c.16-.117.373-.06.438.031c0-.187-.1-.297-.149-.328l-2.74-1.672a.5.5 0 0 0-.531.006L8.799 11.854a1.2 1.2 0 0 0-.549 1.009Z"
              ></path><path
                fill="url(#f1549id6)"
                d="M8.25 12.863v2.744l2.922 1.75v-2.553c0-.342.172-.658.46-.842c3.99-2.552 11.178-7.21 11.352-7.378c.16-.117.373-.06.438.031c0-.187-.1-.297-.149-.328l-2.74-1.672a.5.5 0 0 0-.531.006L8.799 11.854a1.2 1.2 0 0 0-.549 1.009Z"
              ></path><path
                fill="url(#f1549id7)"
                d="M8.25 12.863v2.744l2.922 1.75v-2.553c0-.342.172-.658.46-.842c3.99-2.552 11.178-7.21 11.352-7.378c.16-.117.373-.06.438.031c0-.187-.1-.297-.149-.328l-2.74-1.672a.5.5 0 0 0-.531.006L8.799 11.854a1.2 1.2 0 0 0-.549 1.009Z"
              ></path></g
            ><g filter="url(#f1549idc)"
              ><path
                stroke="#A47E73"
                stroke-width=".05"
                d="M23.219 6.396c-.078-.056-.2-.023-.25 0l-11.547 7.532a.643.643 0 0 0-.168.183"
              ></path></g
            ><g filter="url(#f1549idd)"
              ><path
                stroke="#F4CAA3"
                stroke-linecap="round"
                stroke-width=".2"
                d="m16 16.873l11.625-7.25"></path></g
            ><defs
              ><linearGradient
                id="f1549id0"
                x1="15.844"
                x2="15.844"
                y1="1.902"
                y2="30.098"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#DEB586"></stop><stop
                  offset="1"
                  stop-color="#D7AA82"></stop></linearGradient
              ><linearGradient
                id="f1549id1"
                x1="10.625"
                x2="11.078"
                y1="14.076"
                y2="13.357"
                gradientUnits="userSpaceOnUse"
                ><stop offset=".066" stop-color="#C99D78"></stop><stop
                  offset="1"
                  stop-color="#DCB185"
                  stop-opacity="0"></stop></linearGradient
              ><linearGradient
                id="f1549id2"
                x1="5.376"
                x2="13.866"
                y1="15.169"
                y2="29.372"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#B98875"></stop><stop
                  offset="1"
                  stop-color="#AA684F"></stop></linearGradient
              ><linearGradient
                id="f1549id3"
                x1="16.594"
                x2="24.594"
                y1="16.748"
                y2="25.061"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#D7A585"></stop><stop
                  offset="1"
                  stop-color="#BD7943"></stop></linearGradient
              ><linearGradient
                id="f1549id4"
                x1="15.425"
                x2="16.583"
                y1="25.213"
                y2="25.149"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#B46C4B"></stop><stop
                  offset="1"
                  stop-color="#BD7E61"
                  stop-opacity="0"></stop></linearGradient
              ><linearGradient
                id="f1549id5"
                x1="11.341"
                x2="13.961"
                y1="22.744"
                y2="27.793"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#CAB6CD"></stop><stop
                  offset="1"
                  stop-color="#D1BED7"></stop></linearGradient
              ><linearGradient
                id="f1549id6"
                x1="8.813"
                x2="10.813"
                y1="15.857"
                y2="12.889"
                gradientUnits="userSpaceOnUse"
                ><stop offset=".649" stop-color="#8D6D6C"></stop><stop
                  offset=".726"
                  stop-color="#83554C"></stop><stop
                  offset=".825"
                  stop-color="#83554C"></stop><stop
                  offset="1"
                  stop-color="#976A58"
                  stop-opacity="0"></stop></linearGradient
              ><linearGradient
                id="f1549id7"
                x1="22.656"
                x2="21.656"
                y1="5.779"
                y2="6.904"
                gradientUnits="userSpaceOnUse"
                ><stop stop-color="#9C6F5D"></stop><stop
                  offset="1"
                  stop-color="#9C6F5D"
                  stop-opacity="0"></stop></linearGradient
              ><filter
                id="f1549id8"
                width="24.125"
                height="28.296"
                x="3.781"
                y="1.902"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                ></feColorMatrix><feOffset dy=".1"></feOffset><feGaussianBlur
                  stdDeviation=".15"></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic"></feComposite><feColorMatrix
                  values="0 0 0 0 0.843137 0 0 0 0 0.694118 0 0 0 0 0.52549 0 0 0 1 0"
                ></feColorMatrix><feBlend
                  in2="shape"
                  result="effect1_innerShadow_18_21935"></feBlend></filter
              ><filter
                id="f1549id9"
                width="12.969"
                height="21.373"
                x="3.781"
                y="9.716"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                ></feColorMatrix><feOffset dx="1" dy="1"
                ></feOffset><feGaussianBlur stdDeviation="1.5"
                ></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic"></feComposite><feColorMatrix
                  values="0 0 0 0 0.831373 0 0 0 0 0.670588 0 0 0 0 0.545098 0 0 0 1 0"
                ></feColorMatrix><feBlend
                  in2="shape"
                  result="effect1_innerShadow_18_21935"></feBlend></filter
              ><filter
                id="f1549ida"
                width="3.92"
                height="4.975"
                x="10.681"
                y="22.534"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                ></feColorMatrix><feOffset dx="-.15"></feOffset><feGaussianBlur
                  stdDeviation=".05"></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic"></feComposite><feColorMatrix
                  values="0 0 0 0 0.760103 0 0 0 0 0.683293 0 0 0 0 0.795016 0 0 0 1 0"
                ></feColorMatrix><feBlend
                  in2="shape"
                  result="effect1_innerShadow_18_21935"></feBlend></filter
              ><filter
                id="f1549idb"
                width="15.272"
                height="12.816"
                x="8.15"
                y="4.541"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                ></feColorMatrix><feOffset dx="-.1"></feOffset><feGaussianBlur
                  stdDeviation=".05"></feGaussianBlur><feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic"></feComposite><feColorMatrix
                  values="0 0 0 0 0.47451 0 0 0 0 0.266667 0 0 0 0 0.301961 0 0 0 1 0"
                ></feColorMatrix><feBlend
                  in2="shape"
                  result="effect1_innerShadow_18_21935"></feBlend></filter
              ><filter
                id="f1549idc"
                width="12.2"
                height="7.984"
                x="11.133"
                y="6.24"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feGaussianBlur
                  result="effect1_foregroundBlur_18_21935"
                  stdDeviation=".05"></feGaussianBlur></filter
              ><filter
                id="f1549idd"
                width="12.325"
                height="7.95"
                x="15.65"
                y="9.273"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                ><feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood><feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend><feGaussianBlur
                  result="effect1_foregroundBlur_18_21935"
                  stdDeviation=".125"></feGaussianBlur></filter
              ></defs
            ></g
          ></svg
        >
        <span class="text-gradient">Default Box</span>.
      </h1>
      <p>
        A <span
          class="typer"
          data-delay="250"
          data-words="developer,backend developer,discord user?,nerd,person"
        ></span> from <strong>Australia</strong>
      </p>
      <div class="centreme">
        <a href="https://github.com/Default-Box">
          <svg
            class="svglink"
            xmlns="http://www.w3.org/2000/svg"
            width="3em"
            height="3em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
            ></path></svg
          >
        </a>
        <a href="https://twitter.com/DefaultBox_">
          <svg
            class="svglink"
            xmlns="http://www.w3.org/2000/svg"
            width="3em"
            height="3em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"
            ></path></svg
          >
        </a>
      </div>
    </main>
    <div class="bigspace"></div>
  </div>

  <div class="card">
    <p class="cardtitle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        style="vertical-align: -0.125em;"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 256 256"
        ><path
          fill="currentColor"
          d="M233.5 68.9c0-.1 0-.1-.1-.2a20.5 20.5 0 0 0-7.5-7.4l-88-49.5a20.1 20.1 0 0 0-19.6 0l-88 49.5a20 20 0 0 0-7.5 7.5h-.1a.3.3 0 0 1-.1.2a20 20 0 0 0-2.5 9.7v98.6a20.2 20.2 0 0 0 10.2 17.5l88 49.5a20.6 20.6 0 0 0 9 2.5h1.8a21.2 21.2 0 0 0 8.8-2.5l88-49.5a20.2 20.2 0 0 0 10.2-17.5V78.7a19.4 19.4 0 0 0-2.6-9.8ZM128.1 33.8l71.6 40.3l-22.5 12.7l-72.4-39.9Zm.9 80.4L56.7 73.9l23.5-13.2l72.5 40.1ZM44.1 94.4L117 135l-.7 80.6L44.1 175Zm96.2 121l.7-80.4l24.1-13.7v31.2a12 12 0 0 0 24 0v-44.8l23-13.1V175Z"
        ></path></svg
      >
      About Me
    </p>
    <p class="carddesc">
      Hey there, I'm Default Box. A beginner backend developer from Australia! I
      like breaking stuff and I have a passion for Artificial Intelligence. I am
      also in the process of learning more about cyber security!
    </p>
  </div>

  <div class="card">
    <p class="cardtitle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4L4 8l8 4l8-4l-8-4m-8 8l8 4l8-4M4 16l8 4l8-4"></path></svg
      >
      My Stack
    </p>
    <p>
      <div class="tooltip">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3.01em"
          height="3em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 256 254"
          ><defs
            ><linearGradient
              id="logosVisualStudioCode0"
              x1="50%"
              x2="50%"
              y1="0%"
              y2="100%"
              ><stop offset="0%" stop-color="#FFF"></stop><stop
                offset="100%"
                stop-color="#FFF"
                stop-opacity="0"></stop></linearGradient
            ><path
              id="logosVisualStudioCode1"
              d="M180.828 252.605a15.872 15.872 0 0 0 12.65-.486l52.501-25.262a15.94 15.94 0 0 0 9.025-14.364V41.197a15.939 15.939 0 0 0-9.025-14.363l-52.5-25.263a15.877 15.877 0 0 0-18.115 3.084L74.857 96.35l-43.78-33.232a10.614 10.614 0 0 0-13.56.603L3.476 76.494c-4.63 4.211-4.635 11.495-.012 15.713l37.967 34.638l-37.967 34.637c-4.623 4.219-4.618 11.502.012 15.714l14.041 12.772a10.614 10.614 0 0 0 13.56.604l43.78-33.233l100.507 91.695a15.853 15.853 0 0 0 5.464 3.571Zm10.464-183.649l-76.262 57.889l76.262 57.888V68.956Z"
            ></path></defs
          ><mask id="logosVisualStudioCode2" fill="#fff"
            ><use href="#logosVisualStudioCode1"></use></mask
          ><path
            fill="#0065A9"
            d="M246.135 26.873L193.593 1.575a15.885 15.885 0 0 0-18.123 3.08L3.466 161.482c-4.626 4.219-4.62 11.502.012 15.714l14.05 12.772a10.625 10.625 0 0 0 13.569.604L238.229 33.436c6.949-5.271 16.93-.315 16.93 8.407v-.61a15.938 15.938 0 0 0-9.024-14.36Z"
            mask="url(#logosVisualStudioCode2)"></path><path
            fill="#007ACC"
            d="m246.135 226.816l-52.542 25.298a15.887 15.887 0 0 1-18.123-3.08L3.466 92.207c-4.626-4.218-4.62-11.502.012-15.713l14.05-12.773a10.625 10.625 0 0 1 13.569-.603l207.132 157.135c6.949 5.271 16.93.315 16.93-8.408v.611a15.939 15.939 0 0 1-9.024 14.36Z"
            mask="url(#logosVisualStudioCode2)"></path><path
            fill="#1F9CF0"
            d="M193.428 252.134a15.892 15.892 0 0 1-18.125-3.083c5.881 5.88 15.938 1.715 15.938-6.603V11.273c0-8.318-10.057-12.483-15.938-6.602a15.892 15.892 0 0 1 18.125-3.084l52.533 25.263a15.937 15.937 0 0 1 9.03 14.363V212.51c0 6.125-3.51 11.709-9.03 14.363l-52.533 25.262Z"
            mask="url(#logosVisualStudioCode2)"></path><path
            fill="url(#logosVisualStudioCode0)"
            fill-opacity=".25"
            d="M180.828 252.605a15.874 15.874 0 0 0 12.65-.486l52.5-25.263a15.938 15.938 0 0 0 9.026-14.363V41.197a15.939 15.939 0 0 0-9.025-14.363L193.477 1.57a15.877 15.877 0 0 0-18.114 3.084L74.857 96.35l-43.78-33.232a10.614 10.614 0 0 0-13.56.603L3.476 76.494c-4.63 4.211-4.635 11.495-.012 15.713l37.967 34.638l-37.967 34.637c-4.623 4.219-4.618 11.502.012 15.714l14.041 12.772a10.614 10.614 0 0 0 13.56.604l43.78-33.233l100.506 91.695a15.857 15.857 0 0 0 5.465 3.571Zm10.464-183.65l-76.262 57.89l76.262 57.888V68.956Z"
            mask="url(#logosVisualStudioCode2)"></path></svg
        >
        <span class="tooltiptext">Visual Studio Code</span>
      </div>
      <div class="tooltip">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3.01em"
          height="3em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 256 256"
          ><path fill="#F7DF1E" d="M0 0h256v256H0V0Z"></path><path
            d="m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.89-3.092 12.89-15.12v-81.798h24.057v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.58c-17.357-7.387-28.87-16.667-28.87-36.257c0-18.044 13.747-31.792 35.228-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.732 12.03c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.14 14.778 14.608l6.014 2.577c20.45 8.765 31.963 17.7 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574"
          ></path></svg
        >
        <span class="tooltiptext">Javascript</span>
      </div>
      <div class="tooltip">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3.01em"
          height="3.35em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 32 32"
          ><defs
            ><linearGradient
              id="vscodeIconsFileTypePython0"
              x1="-133.268"
              x2="-133.198"
              y1="-202.91"
              y2="-202.84"
              gradientTransform="matrix(189.38 0 0 189.81 25243.061 38519.17)"
              gradientUnits="userSpaceOnUse"
              ><stop offset="0" stop-color="#387eb8"></stop><stop
                offset="1"
                stop-color="#366994"></stop></linearGradient
            ><linearGradient
              id="vscodeIconsFileTypePython1"
              x1="-133.575"
              x2="-133.495"
              y1="-203.203"
              y2="-203.133"
              gradientTransform="matrix(189.38 0 0 189.81 25309.061 38583.42)"
              gradientUnits="userSpaceOnUse"
              ><stop offset="0" stop-color="#ffe052"></stop><stop
                offset="1"
                stop-color="#ffc331"></stop></linearGradient
            ></defs
          ><path
            fill="url(#vscodeIconsFileTypePython0)"
            d="M15.885 2.1c-7.1 0-6.651 3.07-6.651 3.07v3.19h6.752v1H6.545S2 8.8 2 16.005s4.013 6.912 4.013 6.912H8.33v-3.361s-.13-4.013 3.9-4.013h6.762s3.772.06 3.772-3.652V5.8s.572-3.712-6.842-3.712Zm-3.732 2.137a1.214 1.214 0 1 1-1.183 1.244v-.02a1.214 1.214 0 0 1 1.214-1.214Z"
          ></path><path
            fill="url(#vscodeIconsFileTypePython1)"
            d="M16.085 29.91c7.1 0 6.651-3.08 6.651-3.08v-3.18h-6.751v-1h9.47S30 23.158 30 15.995s-4.013-6.912-4.013-6.912H23.64V12.4s.13 4.013-3.9 4.013h-6.765S9.2 16.356 9.2 20.068V26.2s-.572 3.712 6.842 3.712h.04Zm3.732-2.147A1.214 1.214 0 1 1 21 26.519v.03a1.214 1.214 0 0 1-1.214 1.214h.03Z"
          ></path></svg
        >
        <span class="tooltiptext">Python</span>
      </div>
      <div class="tooltip">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3.01em"
          height="3em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 256 256"
          ><path
            fill="#3178C6"
            d="M20 0h216c11.046 0 20 8.954 20 20v216c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20V20C0 8.954 8.954 0 20 0Z"
          ></path><path
            fill="#FFF"
            d="M150.518 200.475v27.62c4.492 2.302 9.805 4.028 15.938 5.179c6.133 1.151 12.597 1.726 19.393 1.726c6.622 0 12.914-.633 18.874-1.899c5.96-1.266 11.187-3.352 15.678-6.257c4.492-2.906 8.048-6.704 10.669-11.394c2.62-4.689 3.93-10.486 3.93-17.391c0-5.006-.749-9.394-2.246-13.163a30.748 30.748 0 0 0-6.479-10.055c-2.821-2.935-6.205-5.567-10.149-7.898c-3.945-2.33-8.394-4.531-13.347-6.602c-3.628-1.497-6.881-2.949-9.761-4.359c-2.879-1.41-5.327-2.848-7.342-4.316c-2.016-1.467-3.571-3.021-4.665-4.661c-1.094-1.64-1.641-3.495-1.641-5.567c0-1.899.489-3.61 1.468-5.135s2.362-2.834 4.147-3.927c1.785-1.094 3.973-1.942 6.565-2.547c2.591-.604 5.471-.906 8.638-.906c2.304 0 4.737.173 7.299.518c2.563.345 5.14.877 7.732 1.597a53.669 53.669 0 0 1 7.558 2.719a41.7 41.7 0 0 1 6.781 3.797v-25.807c-4.204-1.611-8.797-2.805-13.778-3.582c-4.981-.777-10.697-1.165-17.147-1.165c-6.565 0-12.784.705-18.658 2.115c-5.874 1.409-11.043 3.61-15.506 6.602c-4.463 2.993-7.99 6.805-10.582 11.437c-2.591 4.632-3.887 10.17-3.887 16.615c0 8.228 2.375 15.248 7.127 21.06c4.751 5.811 11.963 10.731 21.638 14.759a291.458 291.458 0 0 1 10.625 4.575c3.283 1.496 6.119 3.049 8.509 4.66c2.39 1.611 4.276 3.366 5.658 5.265c1.382 1.899 2.073 4.057 2.073 6.474a9.901 9.901 0 0 1-1.296 4.963c-.863 1.524-2.174 2.848-3.93 3.97c-1.756 1.122-3.945 1.999-6.565 2.632c-2.62.633-5.687.95-9.2.95c-5.989 0-11.92-1.05-17.794-3.151c-5.875-2.1-11.317-5.25-16.327-9.451Zm-46.036-68.733H140V109H41v22.742h35.345V233h28.137V131.742Z"
          ></path></svg
        >
        <span class="tooltiptext">Typescript</span>
      </div>
      <div class="tooltip">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3.01em"
          height="3em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 256 256"
          ><g fill="none"
            ><rect width="256" height="256" fill="#5865F2" rx="60"></rect><g
              clip-path="url(#skillIconsDiscord0)"
              ><path
                fill="#fff"
                d="M197.308 64.797a164.918 164.918 0 0 0-40.709-12.627a.618.618 0 0 0-.654.31c-1.758 3.126-3.706 7.206-5.069 10.412c-15.373-2.302-30.666-2.302-45.723 0c-1.364-3.278-3.382-7.286-5.148-10.412a.643.643 0 0 0-.655-.31a164.472 164.472 0 0 0-40.709 12.627a.583.583 0 0 0-.268.23c-25.928 38.736-33.03 76.52-29.546 113.836a.685.685 0 0 0 .26.468c17.106 12.563 33.677 20.19 49.94 25.245a.648.648 0 0 0 .702-.23c3.847-5.254 7.276-10.793 10.217-16.618a.633.633 0 0 0-.347-.881c-5.44-2.064-10.619-4.579-15.601-7.436a.642.642 0 0 1-.063-1.064a86.364 86.364 0 0 0 3.098-2.428a.618.618 0 0 1 .646-.088c32.732 14.944 68.167 14.944 100.512 0a.617.617 0 0 1 .655.08a79.613 79.613 0 0 0 3.106 2.436a.642.642 0 0 1-.055 1.064a102.622 102.622 0 0 1-15.609 7.428a.638.638 0 0 0-.339.889a133.075 133.075 0 0 0 10.208 16.61a.636.636 0 0 0 .702.238c16.342-5.055 32.913-12.682 50.02-25.245a.646.646 0 0 0 .26-.46c4.17-43.141-6.985-80.616-29.571-113.836a.506.506 0 0 0-.26-.238ZM94.834 156.142c-9.855 0-17.975-9.047-17.975-20.158s7.963-20.158 17.975-20.158c10.09 0 18.131 9.127 17.973 20.158c0 11.111-7.962 20.158-17.974 20.158Zm66.456 0c-9.855 0-17.974-9.047-17.974-20.158s7.962-20.158 17.974-20.158c10.09 0 18.131 9.127 17.974 20.158c0 11.111-7.884 20.158-17.974 20.158Z"
              ></path></g
            ><defs
              ><clipPath id="skillIconsDiscord0"
                ><path fill="#fff" d="M28 51h200v154.93H28z"></path></clipPath
              ></defs
            ></g
          ></svg
        >
        <span class="tooltiptext">Discord 💋</span>
      </div>
      <div class="tooltip">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3.01em"
          height="3em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 16 16"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
        <span class="tooltiptext">GitHub</span>
      </div>
    </p>
  </div>
</Layout>

<style>
  /* w3schools, ily */
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: rgb(8, 8, 8);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    opacity: 0.9;
  }

  /* no more w3schools */
  .bigspace {
    margin-bottom: 400px;
  }

  .card {
    line-height: 1;
    margin: 1rem 0;
    background-color: rgb(20, 20, 20);
    padding: 1rem;
    border-radius: 0.4rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .cardtitle {
    font-size: 35px;
    font-weight: 850;
    padding-bottom: 10px;
  }

  .carddesc {
    font-size: medium;
  }

  .text-container {
    text-align: center;
  }

  .centreme {
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }
  svg {
    margin-left: 1px;
  }
  .svglink:hover {
    color: #f82cff;
    transition-duration: 0.5s;
  }
  main {
    margin: auto;
    padding: 2.5rem;
    max-width: 60ch;
  }

  .haveimage {
    background-size: 100%;
    background-image: url("/layered-steps-haikei.svg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .typer {
    font-weight: 850;
  }
  h1 {
    font-size: 5rem;
    font-weight: 850;
    padding-bottom: 10px;
  }
  p {
    font-size: 1.5rem;
  }
  @keyframes flow {
    0% {
      background-position: 50 0%;
    }

    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0 100%;
    }
  }
  body {
    color: white;
    margin: 0;
  }

  .typer {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #b11cfc 40%,
      white 60%
    );
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #b11cfc 40%,
      white 60%
    );
    animation: flow 4s reverse infinite;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media (max-width: 425px) {
    .haveimage {
      background-size: 0%;
    }
  }
  @media (max-width: 558px) {
    .haveimage {
      background-size: 0%;
    }
  }
  @media (max-width: 375px) {
    .haveimage {
      background-size: 0%;
    }
    h1 {
      font-size: 2rem;
    }
    .card {
      margin-top: 10px;
    }
  }
  @media (max-width: 320px) {
    .haveimage {
      background-size: 0%;
    }
  }
</style>